<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>画像スライダー</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="image-slider">
        <!-- 1つ目のスライダーの画像群 -->
        <img src="ramenjunkie_hira_touka.png" alt="ロゴ">
        <img src="豚骨.png" alt="豚骨">
        <!-- 2つ目のスライダーの画像群 -->
        <img src="ramenjunkie_hira_touka.png" alt="ロゴ">
        <img src="魚介.png" alt="魚介">
        <!-- 3つ目のスライダーの画像群 -->
        <img src="ramenjunkie_hira_touka.png" alt="ロゴ">
        <img src="醤油.png" alt="醤油">
        <!-- 4つ目のスライダーの画像群 -->
        <img src="ramenjunkie_hira_touka.png" alt="ロゴ">
        <img src="塩.png" alt="塩">
        <!-- 5つ目のスライダーの画像群 -->
        <img src="ramenjunkie_hira_touka.png" alt="ロゴ">
        <img src="次郎.png" alt="次郎">
        <!-- 6つ目のスライダーの画像群 -->
        <img src="ramenjunkie_hira_touka.png" alt="ロゴ">
        <img src="その他.png" alt="その他">
        <!-- 他の画像もここに追加可能 -->
    </div>
    <script src="script.js"></script>
</body>
</html>